main.wrapper {
    display: block;
    margin-left: $side-bar-offset;
    color: grey;
    // width: 100%;
    padding: 0 1rem 1rem;
    margin: $top-bar-offset 1rem 1rem $side-bar-offset;
    @include fade;

    &.active {
        margin-left: ($side-bar-offset - $side-bar-closed);
    }
}

.box {
    background-color: $white;
    box-shadow: 0 0 10px rgba(black, 0.15);
    margin: 1rem 0;
    padding: 0 0;
    @include fade;

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 10px rgba(black, 0.25);
    }

    &-inner {
        padding: 1rem 2rem;
    }
}

.title {
    width: 100%;
    border-bottom: 0.5px solid $light-3;
}

.separator {
    width: 100%;
    margin: 1rem 0;
    height: 1px;
    border-bottom: 0.5px solid $light-3;
}

.container {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}