main.wrapper {
    display: block;
    margin-left: $side-bar-offset;
    color: grey;
    // width: 100%;
    padding: 1rem 1rem;
    margin: 1rem 1rem 1rem $side-bar-offset;
    @include fade;

    &.active {
        margin-left: ($side-bar-offset - $side-bar-closed);
    }
}

.box {
    background-color: $white;
    box-shadow: 0 0 10px rgba(black, 0.15);
    margin: 1rem 0;
    padding: 1rem 2rem;
    @include fade;

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 10px rgba(black, 0.25);
    }
}