@mixin fade {
    transition: 0.3s ease-out;
}

@mixin fade-short {
    transition: 0.1s ease-out;
}

@mixin fade-medium {
    transition: 0.5s ease-out;
}

@mixin fade-long {
    transition: 0.8s ease-out;
}

@mixin menu-item-slide-out {
    animation-name: menu-item-slide-out;
    animation-duration: 0.5s;
    animation-delay: 0.2s;


}

@keyframes menu-item-slide-out {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(155px);
    }
}