@mixin flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin fade {
    transition: 0.3s ease-out;
}

@mixin fade-short {
    transition: 0.1s ease-out;
}

@mixin fade-medium {
    transition: 0.5s ease-out;
}

@mixin fade-long {
    transition: 0.8s ease-out;
}

@mixin menu-item-fade-out {
    animation-name: menu-item-fade-out;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

@mixin menu-item-fade-in {
    animation-name: menu-item-fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@mixin mobile-menu-in {
    animation-name: mobile-menu-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}


@keyframes mobile-menu-in {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(0px)
    }

    70% {
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menu-item-fade-out {
    0% {
        opacity: 1;
        transform: translate(0);
    }

    100% {
        opacity: 0;
        transform: translate(100px);
    }
}

@keyframes menu-item-fade-in {
    0% {
        opacity: 0;
        transform: translate(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}