// COLORS
$white: #fff;

// Font sizes
$par-fsize: 16px;

// Fonts
$brand-font: "Lobster";
$sans-serif: 'Archivo Narrow';

// NAVBARS Offset 

$side-bar-offset: 176px;

// FLEX Grid

$flex-columns: 12;