// COLORS
$white: #fff;
$blue: #56819F;
$bg: #f5f5f2;
$dark:#212121;
$grey: #333333;
$light-1: #979797;
$light-2: #909090;
$light-3: #e3e3e3;
$orange: #f58220;
$yellow: #ffa200;
$green: #04ae00;
$paragraph-color: #000000;
$brand-main-color: #ff0000;

// Font sizes
$par-fsize: 16px;

// Fonts
$brand-font: "Lobster";
$sans-serif: 'Roboto';
$paragraph-font: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;



// NAVBARS Offset 

$side-bar-width: 200px;
$top-bar-height: 60px;
$top-bar-offset: ($top-bar-height + 20px);
$side-bar-offset: ($side-bar-width + 20px);
$side-bar-closed: ($side-bar-width * 0.7);

// FLEX Grid

$flex-columns: 12;