// IMPORTS
@import "variables";
@import "mixins";
@import "normalize";
@import "grid";
@import "icons";
@import "layout";
@import "components/typography";
@import "components/navbar";
@import "components/buttons";
@import "components/side-bar-menu";
@import "components/topbar";
// @import "section /layout";
// @import "pages /layout";



// GLOBAL SETTINGS

body {
    background-color: $bg;
    font-family: $sans-serif, sans-serif;
}

p {
    color: black;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}