.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba($dark, 0.5);
  overflow: auto;
  display: none;
  & .overflow {
    overflow: scroll;
    max-height: 280px;
  }
  & .form-group-fluid {
    padding: 5px 10px;
  }

  & .title {
    margin-right: 40px;
  }

  &.show {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  &-container {
    min-width: 700px;
    max-width: 95%;
    max-height: 800px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba($grey, 0.4);
    position: relative;

    &.wide {
      min-width: 80%;
    }

    &-inner {
      padding: 1rem 2rem;
    }
  }
  &-close {
    position: absolute;
    top: 17px;
    right: 17px;
    @include fade;
    &::after {
      font-family: 'Glyphter';
      content: '\0049';
    }
    &:hover {
      cursor: pointer;
      color: $grey;
      transform: rotate(180deg);
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .modal-container {
    min-width: 95%;
  }
}
