#mobile-menu-bar {
  display: none;
}

.side-bar::-webkit-scrollbar {
  width: 0 !important;
}

.side-bar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $dark;
  color: white;
  width: $side-bar-width;
  overflow-y: scroll;
  z-index: 5;
  box-shadow: 2px 0 10px rgba(black, 0.55);
  border-right: 1px solid black;
  @include fade;

  &:hover {
    box-shadow: 2px 0 10px rgba(black, 0.75);
  }

  &-brand {
    font-family: $brand-font;
    width: auto;
    padding-left: 1rem;
    font-size: 25px;
    // padding-left: 1rem;
    @include fade;

    &.hide {
      visibility: hidden;
    }
  }

  &-hamburger {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
  }

  &-header {
    padding: 1rem 0;
    width: 100%;
    height: $top-bar-height;
    border-bottom: 0.5px solid $grey;
    box-shadow: 5px 0 10px rgba(black, 0.25);
  }

  &-separator {
    width: 100%;
    margin: 1rem 0;
    padding: 0 0;
    border-bottom: 1px solid $grey;
  }

  &.active {
    left: -($side-bar-closed);
  }

  &.active .top-bar-menu {
    display: none;
  }
}

.top-bar {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: auto;
  background-color: $white;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid $light-3;
  box-shadow: 0 0 10px rgba(black, 0.1);

  &-left {
    flex: 1;
    font-family: $brand-font;
    width: auto;
    padding-left: 1rem;
    font-size: 25px;
    display: none;
  }

  &-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: black;
  }
}

.chat-menu-item {
  & .side-bar-ico.online-status {
    @include fade;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      box-shadow: 0 0 10px $grey;
      top: 8px;
      right: 8px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $blue;
    }
    &.online {
      &::before {
        background-color: $green;
      }
    }
    &.offline {
      &::before {
        background-color: lighten($grey, 20);
      }
    }
  }
  & .p-slide {
    margin-left: 10px;
  }
  & img {
    max-height: 75%;
    width: auto;
    align-self: center;
  }
  &:hover {
    cursor: pointer;
  }
}

// Disabling TOP RIGHT bar when mobile (less than 1200px)
// this part goes to the side-bar then - see: resize.js
@media (max-width: $breakpoint-xl) {
  .top-bar-right {
    display: none;
  }

  .top-bar {
    height: $top-bar-height;
  }
}

// Switching the side-bar into mobile mode (max 992px)
@media (max-width: $breakpoint-large) {
  #side-bar {
    display: none;
    z-index: -2;
  }

  #mobile-menu-bar {
    display: none;

    &.active {
      display: block;
    }
  }

  .side-bar {
    top: 0;
    width: 100vw;
    display: block;
    z-index: 5;
    left: 0;

    &-header {
      justify-content: flex-start;
    }

    &-hamburger {
      display: none;
    }

    &.active {
      top: 0;
      @include mobile-menu-in;
      left: 0;
      display: block;
    }

    &.active .top-bar-menu {
      display: block;
    }
  }

  .top-bar {
    z-index: 4;

    &-left {
      display: block;
    }
  }
}
